<h1>Welcome to crash course bitch</h1>
<p>This is a demo run so get fucking ready</p>
<p> senainsdsoadoaskd </p>

<%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>