<style>
body {
    background-color: #33ccff;
}

h1 {
  color:black;
}

p {
  font-size:130%;
}

div {
    text-align:right;
    display: inline-block;
}
</style>

<body>
<h1>Edit Employee</h1>
<br>
<div>
<%= form_with(model: @employee, local: true) do |form| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
   Employee ID: <%= form.number_field :"emp_id" %>
</p>
<p>
    First Name: <%= form.text_field :first_name %>
</p>
<p>
   Last Name: <%= form.text_field :last_name %>
</p>
<p>
    DOB: <%= form.date_field :"date_of_birth" %>
</p>
<p>
   Salary: <%= form.text_field :"salary" %>
</p>
<p>
   Email: <%= form.text_field :"email" %>
</p>
<p>
   Phone Number: <%= form.text_field :"phone" %>
</p>

<p>
    <%= form.submit %>
</p>
</div>
</body>

<% end %>

</br>
<%= link_to 'Back', employees_path %>